datasets
pandas
chromadb
langgraph
langchain-openai
langchain-community
duckduckgo-search
beautifulsoup4
requests
python-dotenv
tiktoken
sentence_transformers
scikit-learn
seaborn
matplotlib
#arize-phoenix-otel
#openinference-instrumentation-openai
langfuse
#langfuse-openai
pyyaml
fastapi
uvicorn
pydantic-settings
python-jose[cryptography]
bcrypt
httpx
